log:
  level: INFO

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          #https: true
  websecure:
    address: :443

certificatesResolvers:
  lets-encrypt:
    acme:
      storage: /etc/traefik/acme.json
      email: michael@mfdb.dev
      tlsChallenge: {}

api:
  dashboard: true

